{% extends 'layouts/main.html' %}
{% block title %}CAST{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>CASTING AGENCY 🎬 🍿 🎬</h1>
		<p class="lead">Where actors meet their dream role.</p>
		<h3>
			<a href="/actors"><button class="btn btn-primary btn-lg">Find an Actor</button></a>
			<a href="/actors/create"><button class="btn btn-default btn-lg">Post an Actor</button></a>
		</h3>
		<h3>
			<a href="/movies"><button class="btn btn-primary btn-lg">Find a Movie</button></a>
			<a href="/movies/create"><button class="btn btn-default btn-lg">Post a Movie</button></a>
		</h3>
		<p class="lead">Publicize showings for free.</p>
		<h3>
			<a href="/showings/create"><button class="btn btn-default btn-lg">Post a showing</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash-movieshoot-blackwhite.jpg') }}" alt="Front Photo of Acting Location" />
	</div>
</div>
{% endblock %}
